@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

#form-container {
    width: 100%;
    background-color: #1d1d3f;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 80px;
}

#recommendation-form {
    background-color: #e3f6f5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

#recommendation-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group label {
    font-size: 18px;
    color: #1d1d3f;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.input-group input[type="number"],
.input-group select {
    padding: 10px;
    border: 1px solid #272343;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.input-group input[type="number"]:focus,
.input-group select:focus {
    border-color: #1d1d3f;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.radio-group {
    flex-direction: column;
    gap: 8px;
}

.radio-group label {
    color: #1d1d3f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group div {
    width: calc(50% - 10px);
}

.checkbox-group label {
    color: #1d1d3f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.button-container {
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 14px 20px;
    background-color: #1d1d3f;
    color: #e3f6f5;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #272343;
    transform: scale(1.05);
}

@media (max-width: 768px) {

    .input-group input[type="number"],
    .input-group select {
        font-size: 16px;
    }

    .radio-group label,
    .checkbox-group label {
        font-size: 14px;
    }
}

.alert {
    color: #d8000c;
    background-color: #ffd2d2;
    border: 1px solid #d8000c;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 14px;
}
